.step-container {
  border-radius: 15px;
  box-shadow: 0 .125rem .50rem rgba($grey, .20);

  h3 {
    font-size: 1.3rem;
    color: #333;
  }

  p {
    font-size: .8rem;
    font-weight: 400;
    margin: 0;
    padding: 0;
  }

  .section-form {
    padding: 5px 0;

    h4 {
      font-size: 1.2rem;
      color: $blue;
      border-bottom: 2px solid $blue;
      margin-bottom: 0;
    }
    p {
      font-size: .9rem;
      font-weight: 400;
      padding: 0;
      margin: 0;
      color: #333;
    }
    small {
      font-size: .7rem;
      color: #333;
    }
  }

  .form-checkbox {
    font-size: .9rem;
    p {
      font-size: .9rem;
      font-style: italic;
    }
  }

  .info-upload {
    font-size: .7rem;
    font-weight: normal;

    p {
      font-size: .9rem;
      font-weight: 700;
    }
  }

  .validacao-container {
    color: #333;
    h3 {
      font-size: 1.7rem;
    }
    p {
      font-size: 1rem;
      line-height: 20px;
    }
  }

  .success-container {
    text-align: center;
    h3 {
      font-size: 1.7rem;
    }
    p {
      font-size: 1.1rem;
    }
    i {
      font-size: 6rem;
      margin: 20px 0;
      color: $mostard;
    }
  }

  .accept-terms {
    margin: 20px 0;
    font-size: 1rem;
    font-weight: 300;

    h5 {
      font-size: 1rem;
      color: $blue;
    }

    a {
      color: $mostard;
      font-weight: bold;
      text-decoration: underline;
    }

    input[type=checkbox] {
      transform: scale(1.9);
    }
    .form-check-label {
      margin-left: 10px;
      p {
        font-size: .9rem;
        font-weight: 300;
      }
    }
  }

  .cancel-container {
    width: 200px;
    h3 {
      font-size: 1rem;
    }
    i {
      color: $mostard;
      font-size: 4rem;
      margin-bottom: .5rem;
    }
    p {
      font-size: .7rem;
      margin-bottom: .3rem;
    }
    .btn {
      font-size: .7rem;
      padding: 5px 25px;
    }
  }

  .form-button-container {
    margin: 20px 0;

    p {
      font-size: .9rem;
      font-weight: 400;
    }

    .btn {
      font-size: 1rem;

      // @media (min-width: 768px) {
      //   padding: 5px 45px;
      // }
    }
  }

      // inputs
      input[type="text"], select {
        border-radius: 10px;
        border: 1px solid #333;
        color: #333;
        font-style: italic;
        font-size: 0.8rem;
        margin-bottom: 10px;
        height: calc(1.5em + .75rem + 6px);
        padding: 0.3rem;

        &::placeholder {
          color: #333;
        }

      }

      .form-control option {
        padding: 0.3rem 0;
      }

      .custom-file-input {
        opacity: 1;
      }

      .custom-file-input::-webkit-file-upload-button {
        visibility: hidden;
      }
      .custom-file-input:before {
        content: "Upload pendente";
        display: inline-block;
        color: $red;
        border: 1px solid $red;
        border-radius: 3px;
        height: calc(1.5em + .75rem + 6px) !important;
        padding: 5px 42px;
        outline: none;
        white-space: nowrap;
        -webkit-user-select: none;
        cursor: pointer;
        font-weight: 400;
        font-size: .8rem;
        line-height: 25px;
      }
      .custom-file-input:hover:before {
        border-color: $red;
      }
      .custom-file-input:active:before {
        background: -webkit-linear-gradient(top, #e3e3e3, #f9f9f9);
      }
      .custom-file-input:after {
        content: "\f093";
        font-family: 'Font Awesome 5 Free';
        left: 15px;
        top: 5px;
        color: $red;
        position: absolute;
      }


}
