.step {

  .step-bar {
    counter-reset: step;
    & li {
      list-style-type: none;
      float: left;
      width: 25%;
      position:relative;
      text-align: center;
      font-size: .8rem;
      font-weight: 400;

      &:before {
        /* CSS for creating steper block before the li item*/
        content:counter(step);
        counter-increment: step;
        height:30px;
        width:30px;
        line-height: 30px;
        border: 2px solid #ddd;
        display:block;
        text-align: center;
        margin: 0 auto 10px auto;
        border-radius: 50%;
        background-color: $white;
      }

      &:after {
        /* CSS for creating horizontal line*/
        content: " ";
        position: absolute;
        width:100%;
        height:2px;
        background-color: $grey;
        top: 15px;
        left: -50%;
        z-index: -1;
      }

      &:first-child:after {
        content: none;
      }

      &.active {
        color:$mostard;
      }

      &.active:before {
        border-color:$mostard;
      }

      &.active + :after {
        background-color: $mostard;
      }
    }
  }

}
