.step {
  margin: 20px 0;

  .step-bar {
    counter-reset: step;
    min-width: 0;

    @media (min-width: 768px) {
      min-width: 534px;
    }

    & li {
      list-style-type: none;
      float: left;
      width: 25%;
      position:relative;
      text-align: center;
      font-size: .7rem;
      font-weight: 400;
      left: -21px;

      @media (min-width: 768px) {
        left: -14px;
      }

      span {
        color: #999;
        font-size: .7rem;
        font-weight: bold;

        @media (min-width: 768px) {
          font-size: .9rem;
        }
      }

      &.active span {
        color: $mostard;
      }

      &:before {
        /* CSS for creating steper block before the li item*/
        content:counter(step);
        counter-increment: step;
        height: 37px;
        width: 37px;
        line-height: 33px;
        font-size: .9rem;
        font-weight: bold;
        color: #999;
        border: 3px solid #999;
        display:block;
        text-align: center;
        margin: 0 auto 10px auto;
        border-radius: 50%;
        background-color: $white;
      }

      &:after {
        /* CSS for creating horizontal line*/
        content: " ";
        position: absolute;
        width: 52%;
        height: 2px;
        background-color: #999;
        top: 18px;
        left: -26%;
        z-index: 0;

        @media (min-width: 768px) {
          width:71%;
          left: -36%;
        }
      }

      &:first-child:before {
        color: $mostard;
        border-color:$mostard;
        border: 2px solid;
      }

      &:first-child span {
        color: $mostard;
      }

      &:first-child:after {
        content: none;
      }

      &.active {
        color:$mostard;
      }

      &.active:before {
        content: "\f00c";
        font-family: 'Font Awesome 5 Free';
        color: $white;
        background-color: $mostard;
        border-color:$mostard;
      }

      &.active + :after {
        background-color: $mostard;
      }
    }
  }

}
