html, body {
  background-color: #f2f2f2;
}

main {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  padding: 50px 0;
}

.btn-full {
  background-color: #FF9300;
  color: #ffffff;
  border: 2px solid #FF9300;
  padding: 5px 20px;
}
.btn-full:hover {
  background-color: #FF9300;
  border: 2px solid #FF9300;
}

.btn-out {
  background-color: #ffffff;
  color: #FF9300;
  border: 2px solid #FF9300;
  padding: 5px 20px;
}
.btn-out:hover {
  color: #FF9300;
  background-color: transparent;
  border: 2px solid #FF9300;
}

#topo {
  color: #ffffff;
  font-family: "Montserrat", sans-serif;
  height: 20%;
  min-height: 20%;
  background: linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.8)), url(../images/header-background.png) no-repeat;
  background-size: cover;
  background-position: 0 0;
  padding: 50px 0;
}
#topo h1 {
  color: #ffffff;
  font-size: 1.7rem;
  font-weight: 500;
  word-wrap: break-word;
  margin: 0;
  padding: 0;
}
@media (min-width: 768px) {
  #topo h1 {
    font-size: 2rem;
  }
}
@media (min-width: 992px) {
  #topo h1 {
    font-size: 2rem;
    line-height: 35px;
  }
}
#topo h2 {
  font-size: 1rem;
  font-weight: 100;
  word-wrap: break-word;
  margin: 0;
  padding: 0;
}
#topo p {
  font-size: 0.9rem;
}
@media (min-width: 768px) {
  #topo p {
    font-size: 0.9rem;
  }
}
#topo .btn {
  width: 100%;
}
@media (min-width: 768px) {
  #topo .btn {
    width: 300px;
  }
}
#topo .back-to-home {
  color: #ffffff;
  text-align: center;
  display: flex;
  flex-direction: column;
}
#topo .back-to-home a {
  font-size: 0.9rem;
  color: #ffffff;
}

.timer {
  text-align: center;
  padding: 0 20px;
  font-size: 0.8rem;
}
.timer span {
  color: #FF9300;
}
.timer img {
  width: 13px;
}

.step .step-bar {
  counter-reset: step;
}
.step .step-bar li {
  list-style-type: none;
  float: left;
  width: 25%;
  position: relative;
  text-align: center;
  font-size: 0.8rem;
  font-weight: 400;
}
.step .step-bar li:before {
  /* CSS for creating steper block before the li item*/
  content: counter(step);
  counter-increment: step;
  height: 30px;
  width: 30px;
  line-height: 30px;
  border: 2px solid #ddd;
  display: block;
  text-align: center;
  margin: 0 auto 10px auto;
  border-radius: 50%;
  background-color: #ffffff;
}
.step .step-bar li:after {
  /* CSS for creating horizontal line*/
  content: " ";
  position: absolute;
  width: 100%;
  height: 2px;
  background-color: #707070;
  top: 15px;
  left: -50%;
  z-index: -1;
}
.step .step-bar li:first-child:after {
  content: none;
}
.step .step-bar li.active {
  color: #FF9300;
}
.step .step-bar li.active:before {
  border-color: #FF9300;
}
.step .step-bar li.active + :after {
  background-color: #FF9300;
}

.step-container h3 {
  font-size: 1.3rem;
}
.step-container p {
  font-size: 0.8rem;
  font-weight: 400;
  margin: 0;
  padding: 0;
}
.step-container .section-form {
  padding: 20px 0;
}
.step-container .section-form h4 {
  font-size: 1.2rem;
  color: #17468B;
  border-bottom: 2px solid #17468B;
}
.step-container .section-form p {
  font-size: 0.8rem;
  font-weight: 400;
  padding: 0;
  margin: 0;
}
.step-container .form-button-container {
  text-align: center;
  margin: 20px 0;
}
.step-container input[type=text] {
  border-radius: 10px;
  border: 1px solid #707070;
  font-style: italic;
  font-size: 0.7rem;
  margin-bottom: 10px;
}

#rodape {
  color: #ffffff;
  font-size: 0.8rem;
  background-color: #17468B;
  padding: 50px 0 10px 0;
  border-top: 4px solid #FF9300;
}
#rodape .logo-senac {
  width: 100px;
}
#rodape .middle-target {
  background-color: #0052A1;
  padding: 10px;
  text-align: center;
  font-size: 0.8rem;
}
#rodape .middle-target p {
  margin: 10px 0;
}
#rodape .footer-sociais {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  padding-left: 0;
}
@media (min-width: 768px) {
  #rodape .footer-sociais {
    width: 200px;
    justify-content: start;
  }
}
@media (min-width: 1200px) {
  #rodape .footer-sociais {
    width: 200px;
  }
}
#rodape .footer-sociais a {
  padding: 0 25px 0 0;
  font-size: 1.3rem;
  color: #ffffff;
}
@media (min-width: 768px) {
  #rodape .footer-sociais a {
    padding: 0 30px 0 0;
  }
}

/*# sourceMappingURL=style.css.map */
