@charset "UTF-8";
html, body {
  background-color: #f2f2f2;
}

main {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  padding: 50px 0;
}

.btn-full {
  background-color: #FF9300;
  color: #ffffff;
  border: 1px solid #FF9300;
  padding: 5px 20px;
}
.btn-full:hover {
  background-color: #FF9300;
  border: 1px solid #FF9300;
}

.btn-out {
  background-color: #ffffff;
  color: #FF9300;
  border: 1px solid #FF9300;
  padding: 5px 20px;
}
.btn-out:hover {
  color: #FF9300;
  background-color: transparent;
  border: 1px solid #FF9300;
}

#topo {
  color: #ffffff;
  font-family: "Montserrat", sans-serif;
  height: 20%;
  min-height: 20%;
  background: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url(../images/header-background.png) no-repeat;
  background-size: cover;
  background-position: 0 0;
  padding: 73px 0;
}
#topo h1 {
  color: #ffffff;
  font-size: 1.7rem;
  font-weight: 600;
  word-wrap: break-word;
  margin: 0;
  padding: 0;
}
@media (min-width: 768px) {
  #topo h1 {
    font-size: 2rem;
  }
}
@media (min-width: 992px) {
  #topo h1 {
    font-size: 3rem;
    line-height: 60px;
  }
}
#topo h2 {
  font-size: 1rem;
  font-weight: 100;
  word-wrap: break-word;
  margin: 0;
  padding: 0;
}
#topo p {
  font-size: 0.9rem;
}
@media (min-width: 768px) {
  #topo p {
    font-size: 0.9rem;
  }
}
#topo .btn {
  width: 100%;
}
@media (min-width: 768px) {
  #topo .btn {
    width: 300px;
  }
}
#topo .back-to-home {
  color: #ffffff;
  text-align: center;
  display: flex;
  flex-direction: column;
}
#topo .back-to-home i {
  font-size: 1.75rem;
}
#topo .back-to-home a {
  font-size: 0.9rem;
  color: #ffffff;
}

.timer {
  text-align: center;
  padding: 0 20px;
  font-size: 0.8rem;
}
.timer span {
  color: #FF9300;
}
.timer img {
  width: 17px;
}
.timer p {
  color: #17468B;
  font-size: 1rem;
}

.step {
  margin: 20px 0;
}
.step .step-bar {
  counter-reset: step;
  min-width: 0;
}
@media (min-width: 768px) {
  .step .step-bar {
    min-width: 534px;
  }
}
.step .step-bar li {
  list-style-type: none;
  float: left;
  width: 25%;
  position: relative;
  text-align: center;
  font-size: 0.7rem;
  font-weight: 400;
  left: -21px;
}
@media (min-width: 768px) {
  .step .step-bar li {
    left: -14px;
  }
}
.step .step-bar li span {
  color: #999;
  font-size: 0.7rem;
  font-weight: bold;
}
@media (min-width: 768px) {
  .step .step-bar li span {
    font-size: 0.9rem;
  }
}
.step .step-bar li.active span {
  color: #FF9300;
}
.step .step-bar li:before {
  /* CSS for creating steper block before the li item*/
  content: counter(step);
  counter-increment: step;
  height: 37px;
  width: 37px;
  line-height: 33px;
  font-size: 0.9rem;
  font-weight: bold;
  color: #999;
  border: 3px solid #999;
  display: block;
  text-align: center;
  margin: 0 auto 10px auto;
  border-radius: 50%;
  background-color: #ffffff;
}
.step .step-bar li:after {
  /* CSS for creating horizontal line*/
  content: " ";
  position: absolute;
  width: 52%;
  height: 2px;
  background-color: #999;
  top: 18px;
  left: -26%;
  z-index: 0;
}
@media (min-width: 768px) {
  .step .step-bar li:after {
    width: 71%;
    left: -36%;
  }
}
.step .step-bar li:first-child:before {
  color: #FF9300;
  border-color: #FF9300;
  border: 2px solid;
}
.step .step-bar li:first-child span {
  color: #FF9300;
}
.step .step-bar li:first-child:after {
  content: none;
}
.step .step-bar li.active {
  color: #FF9300;
}
.step .step-bar li.active:before {
  content: "";
  font-family: "Font Awesome 5 Free";
  color: #ffffff;
  background-color: #FF9300;
  border-color: #FF9300;
}
.step .step-bar li.active + :after {
  background-color: #FF9300;
}

.step-container {
  border-radius: 15px;
  box-shadow: 0 0.125rem 0.5rem rgba(112, 112, 112, 0.2);
}
.step-container h3 {
  font-size: 1.3rem;
  color: #333;
}
.step-container p {
  font-size: 0.9rem;
  font-weight: 400;
  margin: 0;
  padding: 0;
}
.step-container .section-form {
  padding: 5px 0;
}
.step-container .section-form h4 {
  font-size: 1.2rem;
  color: #17468B;
  border-bottom: 2px solid #17468B;
  margin-bottom: 0;
}
.step-container .section-form p {
  font-size: 1rem;
  font-weight: 400;
  padding: 0;
  margin: 0;
  color: #333;
}
.step-container .section-form small {
  font-size: 0.7rem;
  color: #333;
}
.step-container .form-checkbox {
  font-size: 0.9rem;
}
.step-container .form-checkbox p {
  font-size: 0.9rem;
  font-style: italic;
}
.step-container .info-upload {
  font-size: 0.7rem;
  font-weight: normal;
}
.step-container .info-upload p {
  font-size: 0.9rem;
  font-weight: 700;
}
.step-container .validacao-container {
  color: #333;
}
.step-container .validacao-container h3 {
  font-size: 1.7rem;
}
.step-container .validacao-container p {
  font-size: 1rem;
  line-height: 20px;
}
.step-container .success-container {
  text-align: center;
}
.step-container .success-container h3 {
  font-size: 1.7rem;
}
.step-container .success-container p {
  font-size: 1.1rem;
}
.step-container .success-container i {
  font-size: 6rem;
  margin: 20px 0;
  color: #FF9300;
}
.step-container .accept-terms {
  margin: 20px 0;
  font-size: 1rem;
  font-weight: 300;
}
.step-container .accept-terms h5 {
  font-size: 1rem;
  color: #17468B;
}
.step-container .accept-terms a {
  color: #FF9300;
  font-weight: bold;
  text-decoration: underline;
}
.step-container .accept-terms input[type=checkbox] {
  transform: scale(1.9);
}
.step-container .accept-terms .form-check-label {
  margin-left: 10px;
}
.step-container .accept-terms .form-check-label p {
  font-size: 0.9rem;
  font-weight: 300;
}
.step-container .cancel-container {
  width: 200px;
}
.step-container .cancel-container h3 {
  font-size: 1rem;
}
.step-container .cancel-container i {
  color: #FF9300;
  font-size: 4rem;
  margin-bottom: 0.5rem;
}
.step-container .cancel-container p {
  font-size: 0.7rem;
  margin-bottom: 0.3rem;
}
.step-container .cancel-container .btn {
  font-size: 0.7rem;
  padding: 5px 25px;
}
.step-container .form-button-container {
  margin: 20px 0;
}
.step-container .form-button-container p {
  font-size: 0.9rem;
  font-weight: 400;
}
.step-container .form-button-container .btn {
  font-size: 1rem;
}
.step-container input[type=text], .step-container select {
  border-radius: 10px;
  border: 1px solid #333;
  color: #333;
  font-style: italic;
  font-size: 0.8rem;
  margin-bottom: 10px;
  height: calc(1.5em + .75rem + 6px);
  padding: 0.3rem;
}
.step-container input[type=text]::placeholder, .step-container select::placeholder {
  color: #333;
}
.step-container .form-control option {
  padding: 0.3rem 0;
}
.step-container .custom-file-input {
  opacity: 1;
}
.step-container .custom-file-input::-webkit-file-upload-button {
  visibility: hidden;
}
.step-container .custom-file-input:before {
  content: "Upload pendente";
  display: inline-block;
  color: #FF0000;
  border: 1px solid #FF0000;
  border-radius: 3px;
  height: calc(1.5em + .75rem + 6px) !important;
  padding: 5px 42px;
  outline: none;
  white-space: nowrap;
  -webkit-user-select: none;
  cursor: pointer;
  font-weight: 400;
  font-size: 0.8rem;
  line-height: 25px;
}
.step-container .custom-file-input:hover:before {
  border-color: #FF0000;
}
.step-container .custom-file-input:active:before {
  background: -webkit-linear-gradient(top, #e3e3e3, #f9f9f9);
}
.step-container .custom-file-input:after {
  content: "";
  font-family: "Font Awesome 5 Free";
  left: 15px;
  top: 5px;
  color: #FF0000;
  position: absolute;
}

#rodape {
  color: #ffffff;
  font-size: 0.8rem;
  background-color: #17468B;
  padding: 50px 0 10px 0;
  border-top: 4px solid #FF9300;
}
#rodape .logo-senac {
  width: 100px;
}
#rodape .middle-target {
  background-color: #0052A1;
  padding: 27px;
  text-align: center;
  font-size: 0.9rem;
}
#rodape .middle-target p {
  margin: 10px 0;
  font-weight: 500;
}
#rodape .bottom-target {
  padding: 10px 0;
}
#rodape .footer-sociais {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  padding-left: 0;
}
@media (min-width: 768px) {
  #rodape .footer-sociais {
    width: 200px;
    justify-content: start;
  }
}
@media (min-width: 1200px) {
  #rodape .footer-sociais {
    width: 200px;
  }
}
#rodape .footer-sociais a {
  padding: 0 25px 0 0;
  font-size: 1.9rem;
  color: #ffffff;
}
@media (min-width: 768px) {
  #rodape .footer-sociais a {
    padding: 0 10px 0 0;
  }
}

/*# sourceMappingURL=style.css.map */
