html, body {
  background-color: $grey-light;
}

main {
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  padding: 50px 0;
}

// buttons
.btn-full {
  background-color: $mostard;
  color: $white;
  border: 1px solid $mostard;
  padding: 5px 20px;
  &:hover {
    background-color: $mostard;
    border: 1px solid $mostard;
  }
}

.btn-out {
  background-color: $white;
  color: $mostard;
  border: 1px solid $mostard;
  padding: 5px 20px;

  &:hover {
    color: $mostard;
    background-color: transparent;
    border: 1px solid $mostard;
  }
}

.btn-big {
  width: 220px;
}

// modal
.modal-dialog {
  max-width: 750px;
}
